<!-- #!firefox -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Hydra Builder</title>
</head>

<style>
    pre,
    code {
        white-space: pre-line;
        font-size: larger;
        background: none;
        padding: 0;
    }

    .field-group {
        border: 1px solid lightgrey;
        border-radius: 10px;
        padding: 10px 0;
    }

    .radio {
        user-select: none;
    }

    .field-group {
        margin: 5px;
    }

    .fields-container {
        margin: 5px;
    }

    @media (min-width: 960px) {
        .field-group {
            margin: 0 auto;
            max-width: 960px;
        }

        .fields-container {
            margin: 15px;
        }
    }
</style>

<body>
    <div id="app" v-scope>
        <div class="has-text-centered block">
            <h1 class="title is-1">Hydra Builder</h1>
            <p class="subtitle">A command builder for the Hydra logon cracker tool</p>
        </div>

        <section class="field-group block">
            <h2 class="title is-4 has-text-centered">General options</h2>

            <div class="fields-container">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Target</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input v-model="target" class="input" type="text">
                            </div>
                            <p class="help">
                                A target to attack, can be an IPv4 address, IPv6 address or DNS name.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Restore session</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="dash_R" v-model="dash_R" v-bind:value="true">
                                    Yes
                                </label>
                                <label class="radio">
                                    <input type="radio" name="dash_R" v-model="dash_R" v-bind:value="false">
                                    No
                                </label>
                                <p class="help">Restore a previously aborted session. Requires a hydra.restore file was
                                    written.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Old SSL</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="dash_O" v-model="dash_O" v-bind:value="true">
                                    Yes
                                </label>
                                <label class="radio">
                                    <input type="radio" name="dash_O" v-model="dash_O" v-bind:value="false">
                                    No
                                </label>
                                <p class="help">Use old SSL v2 and v3.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Default port</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="useDefaultPort" v-model="useDefaultPort"
                                        v-bind:value="true">
                                    Yes
                                </label>
                                <label class="radio">
                                    <input type="radio" name="useDefaultPort" v-model="useDefaultPort"
                                        v-bind:value="false">
                                    No
                                </label>
                                <p class="help">If the service is on a different default port, define it here.</p>
                                <template v-if="!useDefaultPort">
                                    <label>
                                        Port
                                        <input type="text" name="dash_s" v-model="dash_s">
                                    </label>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Login</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="useSingleLogin" v-model="useSingleLogin"
                                        v-bind:value="true">
                                    Single login
                                </label>
                                <label class="radio">
                                    <input type="radio" name="useSingleLogin" v-model="useSingleLogin"
                                        v-bind:value="false">
                                    From file
                                </label>
                                <p class="help">Login with this name or load several logins from file.</p>
                                <template v-if="useSingleLogin">
                                    <label>
                                        Login
                                        <input type="text" name="dash_l" v-model="dash_l">
                                    </label>
                                </template>
                                <template v-else>
                                    <label>
                                        File
                                        <input type="text" name="dash_L" v-model="dash_L">
                                    </label>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Password</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="useSinglePassword" v-model="useSinglePassword"
                                        v-bind:value="true">
                                    Single password
                                </label>
                                <label class="radio">
                                    <input type="radio" name="useSinglePassword" v-model="useSinglePassword"
                                        v-bind:value="false">
                                    From file
                                </label>
                                <p class="help">Try with this or load several passwords from file.</p>
                                <template v-if="useSinglePassword">
                                    <label>
                                        Password
                                        <input type="text" name="dash_p" v-model="dash_p">
                                    </label>
                                </template>
                                <template v-else>
                                    <label>
                                        File
                                        <input type="text" name="dash_P" v-model="dash_P">
                                    </label>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Additional checks</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="checkbox" v-model="dash_e_n">
                                    Null password
                                </label>
                                <br />
                                <label class="radio">
                                    <input type="checkbox" v-model="dash_e_s">
                                    Login as password
                                </label>
                                <br />
                                <label class="radio">
                                    <input type="checkbox" v-model="dash_e_r">
                                    Reverse login as password
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Loop passwords</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="dash_u" v-model="dash_u" v-bind:value="true">
                                    Yes
                                </label>
                                <label class="radio">
                                    <input type="radio" name="dash_u" v-model="dash_u" v-bind:value="false">
                                    No
                                </label>
                                <p class="help">By default Hydra checks all passwords for one login and then tries the
                                    next login. This option loops around the passwords, so
                                    the first password is tried on all logins, then the next password.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Exit on first found</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="dash_f" v-model="dash_f" v-bind:value="true">
                                    Yes
                                </label>
                                <label class="radio">
                                    <input type="radio" name="dash_f" v-model="dash_f" v-bind:value="false">
                                    No
                                </label>
                                <p class="help">Exit after the first found login/password pair.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Output to file</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="useOutputFile" v-model="useOutputFile"
                                        v-bind:value="true">
                                    Yes
                                </label>
                                <label class="radio">
                                    <input type="radio" name="useOutputFile" v-model="useOutputFile"
                                        v-bind:value="false">
                                    No
                                </label>
                                <p class="help">Write found login/password pairs to file instead of stdout.</p>
                                <template v-if="useOutputFile">
                                    <label class="has-text-weight-semibold">
                                        File
                                        <input type="text" v-model="dash_o">
                                    </label>

                                    <br />

                                    <span class="has-text-weight-semibold">
                                        Format
                                    </span>

                                    <label>
                                        <input type="radio" value="text" v-model="dash_b" />
                                        text
                                    </label>

                                    <label>
                                        <input type="radio" value="json" v-model="dash_b" />
                                        json
                                    </label>

                                    <label>
                                        <input type="radio" value="jsonv1" v-model="dash_b" />
                                        jsonv1
                                    </label>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Default parallelism</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="useDefaultParallelism" v-model="useDefaultParallelism"
                                        v-bind:value="true">
                                    Yes
                                </label>
                                <label class="radio">
                                    <input type="radio" name="useDefaultParallelism" v-model="useDefaultParallelism"
                                        v-bind:value="false">
                                    No
                                </label>
                                <p class="help">Run this number of connects in parallel.</p>
                                <template v-if="!useDefaultParallelism">
                                    <label class="has-text-weight-semibold">
                                        Tasks
                                        <input type="text" v-model="dash_t">
                                    </label>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Custom timeout</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="useCustomTimeout" v-model="useCustomTimeout"
                                        v-bind:value="true">
                                    Yes
                                </label>
                                <label class="radio">
                                    <input type="radio" name="useCustomTimeout" v-model="useCustomTimeout"
                                        v-bind:value="false">
                                    No
                                </label>
                                <p class="help">Defines the max wait time in seconds for responses.</p>
                                <template v-if="useCustomTimeout">
                                    <label class="has-text-weight-semibold">
                                        Seconds
                                        <input type="text" v-model="dash_w">
                                    </label>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Connection delay</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="useConnectionDelay" v-model="useConnectionDelay"
                                        v-bind:value="true">
                                    Yes
                                </label>
                                <label class="radio">
                                    <input type="radio" name="useConnectionDelay" v-model="useConnectionDelay"
                                        v-bind:value="false">
                                    No
                                </label>
                                <p class="help">Defines a wait time in seconds between each connection a task performs.
                                    This
                                    usually only makes sense if a low task number is used.</p>
                                <template v-if="useConnectionDelay">
                                    <label class="has-text-weight-semibold">
                                        Seconds
                                        <input type="text" v-model="dash_W">
                                    </label>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Attempt delay</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="useAttemptDelay" v-model="useAttemptDelay"
                                        v-bind:value="true">
                                    Yes
                                </label>
                                <label class="radio">
                                    <input type="radio" name="useAttemptDelay" v-model="useAttemptDelay"
                                        v-bind:value="false">
                                    No
                                </label>
                                <p class="help">The wait time in seconds per login attempt over all threads. This
                                    usually only makes sense if a low task number is used.</p>
                                <template v-if="useAttemptDelay">
                                    <label class="has-text-weight-semibold">
                                        Seconds
                                        <input type="text" v-model="dash_c">
                                    </label>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Prefer IPv6</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="dash_6" v-model="dash_6" v-bind:value="true">
                                    Yes
                                </label>
                                <label class="radio">
                                    <input type="radio" name="dash_6" v-model="dash_6" v-bind:value="false">
                                    No
                                </label>
                                <p class="help">Prefer IPv6 addresses.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Verbose</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="dash_v" v-model="dash_v" v-bind:value="true">
                                    Yes
                                </label>
                                <label class="radio">
                                    <input type="radio" name="dash_v" v-model="dash_v" v-bind:value="false">
                                    No
                                </label>
                                <p class="help">Verbose mode.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Show all attempts</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="dash_V" v-model="dash_V" v-bind:value="true">
                                    Yes
                                </label>
                                <label class="radio">
                                    <input type="radio" name="dash_V" v-model="dash_V" v-bind:value="false">
                                    No
                                </label>
                                <p class="help">Show login+pass combination for each attempt.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Debug</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="dash_d" v-model="dash_d" v-bind:value="true">
                                    Yes
                                </label>
                                <label class="radio">
                                    <input type="radio" name="dash_d" v-model="dash_d" v-bind:value="false">
                                    No
                                </label>
                                <p class="help">Debug mode.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Ignore restore</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="dash_I" v-model="dash_I" v-bind:value="true">
                                    Yes
                                </label>
                                <label class="radio">
                                    <input type="radio" name="dash_I" v-model="dash_I" v-bind:value="false">
                                    No
                                </label>
                                <p class="help">Ignore an existing restore file.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="field-group block">
            <h2 class="title is-4 has-text-centered">Service options</h2>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Service</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select v-model="service">
                                    <option>adam6500</option>
                                    <option>afp</option>
                                    <option>asterisk</option>
                                    <option>cisco</option>
                                    <option>cisco-enable</option>
                                    <option>cvs</option>
                                    <option>firebird</option>
                                    <option>ftp</option>
                                    <option>ftps</option>
                                    <option>http-head</option>
                                    <option>http-get</option>
                                    <option>http-post</option>
                                    <option>https-head</option>
                                    <option>https-get</option>
                                    <option>https-post</option>
                                    <option>http-get-form</option>
                                    <option>http-post-form</option>
                                    <option>https-get-form</option>
                                    <option>https-post-form</option>
                                    <option>http-proxy</option>
                                    <option>http-proxy-urlenum</option>
                                    <option>icq</option>
                                    <option>imap</option>
                                    <option>imaps</option>
                                    <option>irc</option>
                                    <option>ldap2</option>
                                    <option>ldap2s</option>
                                    <option>ldap3</option>
                                    <option>ldap3-crammd5</option>
                                    <option>ldap3-digestmd5</option>
                                    <option>ldap3s</option>
                                    <option>ldap3-crammd5s</option>
                                    <option>ldap3-digestmd5s</option>
                                    <option>mssql</option>
                                    <option>mysql(v4)</option>
                                    <option>mysql5</option>
                                    <option>ncp</option>
                                    <option>nntp</option>
                                    <option>oracle</option>
                                    <option>oracle-listener</option>
                                    <option>oracle-sid</option>
                                    <option>pcanywhere</option>
                                    <option>pcnfs</option>
                                    <option>pop3</option>
                                    <option>pop3s</option>
                                    <option>postgres</option>
                                    <option>rdp</option>
                                    <option>radmin2</option>
                                    <option>redis</option>
                                    <option>rexec</option>
                                    <option>rlogin</option>
                                    <option>rpcap</option>
                                    <option>rsh</option>
                                    <option>rtsp</option>
                                    <option>s7-300</option>
                                    <option>sapr3</option>
                                    <option>sip</option>
                                    <option>smb</option>
                                    <option>smtp</option>
                                    <option>smtps</option>
                                    <option>smtp-enum</option>
                                    <option>snmp</option>
                                    <option>socks5</option>
                                    <option>ssh</option>
                                    <option>sshkey</option>
                                    <option>svn</option>
                                    <option>teamspeak</option>
                                    <option>telnet</option>
                                    <option>telnets</option>
                                    <option>vmauthd</option>
                                    <option>vnc</option>
                                    <option>xmpp</option>
                                </select>
                            </div>
                            <p class="help">A service (also called protocol) to attack.</p>
                        </div>
                    </div>
                </div>
            </div>

            <template v-if="service === 'http-post-form'">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Endpoint</label>
                    </div>

                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input v-model="http_post_form_endpoint" class="input" type="text">
                            </div>
                            <p class="help">
                                The login endpoint. E.g.: /login.php
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Form</label>
                    </div>

                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input v-model="http_post_form_formdata" class="input" type="text">
                            </div>
                            <p class="help">
                                The raw form data to be sent to the login endpoint. Put ^USER^ and ^PASS^ where Hydra
                                should replace with actial login and password values. E.g.: user=^USER^&pass=^PASS^
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Failed condition</label>
                    </div>

                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input v-model="http_post_form_condition" class="input" type="text">
                            </div>
                            <p class="help">
                                A string the appears in the page when the login fails. If this piece of text is NOT
                                present in the response body, Hydra understands that the login was successful.
                            </p>
                        </div>
                    </div>
                </div>
            </template>
            <p v-else class="has-text-centered is-size-3">
                Service not implemented yet!
            </p>
        </section>

        <section class="field-group block">
            <h2 class="title is-4 has-text-centered">Final command</h2>

            <pre class="has-text-centered">
                <code>
                    {{ command }}
                </code>
            </pre>
            <div class="has-text-centered">
                <button class="button is-primary" :disabled="!success" @click="copyToClipboard">
                    Copy to clipboard
                </button>
            </div>
        </section>
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                I wonder what I should write in the footer of this page
            </p>
        </div>
    </footer>

    <script type="module">
        import { createApp } from 'https://unpkg.com/petite-vue?module';

        createApp({
            success: false,

            target: '127.0.0.1',
            service: 'http-post-form',
            dash_R: false,
            dash_O: false,
            useDefaultPort: true,
            dash_s: '',
            useSingleLogin: true,
            dash_l: '',
            dash_L: '',
            useSinglePassword: true,
            dash_p: '',
            dash_P: '',
            dash_e_n: false,
            dash_e_s: false,
            dash_e_r: false,
            dash_u: false,
            dash_f: false,
            useOutputFile: false,
            dash_o: '',
            dash_b: 'text',
            useDefaultParallelism: true,
            dash_t: '',
            useCustomTimeout: false,
            dash_w: '',
            useConnectionDelay: false,
            dash_W: '',
            useAttemptDelay: false,
            dash_c: '',
            dash_6: false,
            dash_v: false,
            dash_V: false,
            dash_d: false,
            dash_I: false,

            http_post_form_endpoint: '',
            http_post_form_formdata: '',
            http_post_form_condition: '',

            get command() {
                this.success = false;

                const commandParts = [
                    'hydra',
                    this.target,
                    this.service,
                ]

                if (this.dash_R) {
                    commandParts.push('-R');
                }

                if (this.dash_O) {
                    commandParts.push('-O');
                }

                if (!this.useDefaultPort) {
                    const port = parseInt(this.dash_s);

                    if (isNaN(port) || port < 1 || port >= Math.pow(2, 16)) {
                        return 'Inform a valid port';
                    }

                    commandParts.push(`-s ${port}`);
                }

                if (this.useSingleLogin) {
                    const login = this.dash_l.trim();

                    if (login === '') {
                        return 'Inform a non-empty login';
                    }

                    commandParts.push(`-l ${login}`);
                } else {
                    const filepath = this.dash_L.trim();

                    if (filepath === '') {
                        return 'Inform a non-empty filepath for login';
                    }

                    commandParts.push(`-L ${filepath}`);
                }

                if (this.useSinglePassword) {
                    const password = this.dash_p.trim();

                    if (password === '') {
                        return 'Inform a non-empty password';
                    }

                    commandParts.push(`-p ${password}`);
                } else {
                    const filepath = this.dash_P.trim();

                    if (filepath === '') {
                        return 'Inform a non-empty filepath for password';
                    }

                    commandParts.push(`-P ${filepath}`);
                }

                const dash_e_options = [];

                if (this.dash_e_n) {
                    dash_e_options.push('e');
                }

                if (this.dash_e_s) {
                    dash_e_options.push('s');
                }

                if (this.dash_e_r) {
                    dash_e_options.push('r');
                }

                if (dash_e_options.length > 0) {
                    const dash_e = dash_e_options.join('');
                    commandParts.push(`-e ${dash_e}`);
                }

                if (this.dash_u) {
                    commandParts.push('-u');
                }

                if (this.dash_f) {
                    commandParts.push('-f');
                }

                if (this.useOutputFile) {
                    const filepath = this.dash_o.trim();

                    if (filepath === '') {
                        return 'Inform a non-empty filepath for output';
                    }

                    commandParts.push(`-o ${filepath}`);
                    commandParts.push(`-b ${this.dash_b}`);
                }

                if (!this.useDefaultParallelism) {
                    const tasks = parseInt(this.dash_t);

                    if (isNaN(tasks) || tasks < 1) {
                        return 'Inform a valid number of tasks';
                    }

                    commandParts.push(`-t ${tasks}`);
                }

                if (this.useCustomTimeout) {
                    const seconds = parseInt(this.dash_w);

                    if (isNaN(seconds) || seconds < 1) {
                        return 'Inform a valid number of seconds for timeout';
                    }

                    commandParts.push(`-w ${seconds}`);
                }

                if (this.useConnectionDelay) {
                    const seconds = parseInt(this.dash_W);

                    if (isNaN(seconds) || seconds < 1) {
                        return 'Inform a valid number of seconds for connection delay';
                    }

                    commandParts.push(`-W ${seconds}`);
                }

                if (this.useAttemptDelay) {
                    const seconds = parseInt(this.dash_c);

                    if (isNaN(seconds) || seconds < 1) {
                        return 'Inform a valid number of seconds for attempt delay';
                    }

                    commandParts.push(`-c ${seconds}`);
                }

                if (this.dash_6) {
                    commandParts.push('-6');
                }

                if (this.dash_v) {
                    commandParts.push('-v');
                }

                if (this.dash_V) {
                    commandParts.push('-V');
                }

                if (this.dash_d) {
                    commandParts.push('-d');
                }

                if (this.dash_I) {
                    commandParts.push('-I');
                }

                if (this.service === 'http-post-form') {
                    const endpoint = this.http_post_form_endpoint.trim().replace(':', '\\:');

                    if (endpoint === '') {
                        return 'Inform a valid endpoint for service http-post-form';
                    }

                    const formdata = this.http_post_form_formdata.trim().replace(':', '\\:');

                    if (formdata === '') {
                        return 'Inform a valid form data template for service http-post-form';
                    }

                    const condition = this.http_post_form_condition.trim().replace(':', '\\:');

                    if (condition === '') {
                        return 'Inform a valid condition for service http-post-form';
                    }

                    commandParts.push(`-m "${endpoint}:${formdata}:F=${condition}"`)
                }

                this.success = true;

                return commandParts.filter(x => x).join(' ');
            },
            increment() {
                this.count++;
            },
            copyToClipboard() {
                navigator.clipboard.writeText(this.command);
            },
        }).mount();
    </script>
</body>

</html>
