.field-group {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 10px 0;
  margin: 5px;
}

.radio {
  user-select: none;
}

.fields-container {
  margin: 5px;
}

@media (min-width: 960px) {
  .field-group {
    margin: 0 auto;
    max-width: 960px;
  }

  .fields-container {
    margin: 15px;
  }
}
